{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>パスワード再発行メール送信完了</h1>
        </div>
    </div>
    <div class="ec-forgetCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <p class="ec-reportDescription">ご登録メールアドレスに下記の内容でパスワードを再発行するためのメールを送信いたしました。<br>
                10分以内にメール本文内のURLにアクセスし、パスワードの再設定を行ってください。<br><br>
                タイトル：パスワード変更のご確認<br>
                差出人メールアドレス：info-mombetsu@furusato-direct.jp
                </p>
            </div>
            <div class="ec-login__link">
                <a class="ec-link" href="{{ url('homepage') }}">トップページへ</a>
            </div>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-bottom_head">パスワード再発行メールが届かない場合</div>
        <p>登録メールアドレスの入力間違いや迷惑メール設定などの可能性があります。なお、以下を確認しても解決しない場合は、<a class="text-link" href="/contact">お問い合わせフォーム</a>からお問い合わせください。</p>
        <ul>
            <li>登録メールアドレスが間違っている場合<br>正しいメールアドレスであることを確認・変更の上、再度パスワードの再発行をお試しください。メールアドレスが不明な場合は、<a class="text-link" href="/contact">お問い合わせフォーム</a>からお問い合わせください。</li>
            <li>迷惑メールフォルダに振り分けられている場合<br>迷惑メールフォルダに保存されている場合があります。受信フォルダでメールが確認できない場合は、迷惑メールフォルダをご確認ください。</li>
            <li>受信拒否設定されている場合<br>迷惑メール設定を見直してください。受信許可リストに「@furusato-direct.jp」を受信できるように設定を変更の上、再度パスワードの再発行をお試しください。設定をしてもメールが届かない場合は、<a class="text-link" href="/contact">お問い合わせフォーム</a>からお問い合わせください。</li>
        </ul>
    </div>
{% endblock %}
