# まず全部無視
/*

# Git管理に必要なものだけ許可
!/.gitignore
!/app/
!/app/**
!/html/
!/html/**

# html 配下の除外
/html/plugin/**
!/html/plugin/.gitkeep

/html/upload/**
/html/user_data/cache/**
/html/user_data/tmp/**
/html/user_data/assets/tmp/**
/html/user_data/assets/**
!/html/user_data/assets/.gitkeep

/Dockerfile
/docker-compose.yml
