<header class="common">
<div class="container">
<a class="logo" href="{{ url('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}"><span>紋別市<br class="sp">ふるさと納税<br class="sp">総合サイト[開発環境]</span></a>
</div>
</header>
