<section class="container-fluid">
<div id="greeting">
<div class="greeting">
<div class="contents">

<h3>市長からのご挨拶</h3>

<div class="col-12 mx-auto">
<div class="row p-2">
<div class="col-xl-4">
<img class="img-fluid mt-2 mb-4 mb-xl-2" src="{{ asset('assets/img/mayor_mombetsu.jpg','user_data') }}" loading="lazy">
</div>
<div class="col-xl-8">

<p>ふるさと納税制度へのご協力をお願いします</p>
<p>海や山や川そして流氷は、すべての人々にとってかけがえのない大切な自然です。</p>
<p>紋別市は、青く澄み渡るオホーツク海、緑あふれる山々、広大な牧草地帯など美しい自然に囲まれ、そのオホーツクの海や豊かな大地からの贈りもの、新鮮で安全な海の幸・山の幸に恵まれています。</p>
<p>そして、そこには多くの産業の営みと自然と調和したオホーツクの暮らしがあります。</p>
<p>しかし、地球温暖化の影響なのか、このところオホーツクの流氷は年々減少化傾向にあり、海洋環境や動植物への影響が心配されているほか、オホーツク海屈指の漁業や観光などへの影響も危惧されているところです。
</p>
<p>「オホーツクの流氷と自然」は、私たち紋別市民にとって大切なかけがえのない財産であるとともに、北海道、日本の環境保全のためにも守り残していかなければならない財産です。</p>
<p>そこで本市では、多くの人々から「寄附金」という応援をいただきながら、環境保全の取り組みや地域の活性化のために、このたび、『オホーツクの流氷と自然を守る寄附条例』を制定しました。</p>
<p>「紋別に行ったことがある」「昔、紋別に住んでいた」「紋別が好きだ」など、本市とゆかりのある方々、あるいは、現在市内に住んでいる方々に、是非、本市の取り組みに賛同していただけるよう、皆さまの応援を心からお待ちしておりますのでよろしくお願いします。</p>
<p class="signe-mayor">令和4年1月1日<br>宮川　良一</p>

</div>
</div>
</div>

</div>
</div>
</div>
</section>
