{% set NewsList = repository('Eccube\\Entity\\News').getList() %}


<main id="top">
<div class="pt_plus"></div>

<div class="container">
<section class="intro">
<div class="pickup">
{# 4.3: for...if構文廃止のため、slice(0,1)で最初の1件のみ表示 #}
{% for News in NewsList|slice(0, 1) %}
<a href="#newslink" class="ec-newsRole__newsTitle"><p class="date">{{ News.publish_date|date_day }}</p><p class="text">{{ News.title }}</p></a>
{% endfor %}
</div>
</section>
</div>

<div class="container">
  <div class="col-12 d-lg-flex justify-content-center">
    <div class="top-bnr col-lg-6 mb-4 px-lg-2 position-relative">
      <img src="/html/user_data/assets/img/sp_kani/bnr_sp_kani.png"><a href="sp_kani" class="stretched-link"></a>
    </div>
  </div>
</div>
