{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

<div id="newslink" class="anchor"></div>
<div class="container">
<section class="info">
<h3>お知らせ</h3>
<ul class="news">
{# 4.3: for...if構文廃止のため、slice(0,5)で最初の5件表示 #}
{% for News in NewsList|slice(0, 5) %}
<li>
{% if News.url %}
    <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %} class="ec-newsRole__newsTitle">
{% else %}
    <a href="#" class="ec-newsRole__newsTitle">
{% endif %}
        <p class="date">{{ News.publish_date|date_day }}</p><p class="text">{{ News.title }}</p>
    </a>
</li>
{% endfor %}
</ul>
{# TODO: news_indexプラグイン未導入のため一時無効 #}
<a class="btn" href="#">一覧を見る</a>
</section>
</div>


</main>