<div class="container">

				<section class="recomm">
					<p class="toptitle">お礼の品セレクト</p>
					<ul class="p-box">
					    

						<li class="reclist"><a href="https://mombetsu-stv.furusato-direct.jp/products/detail/141">
								<div class="mask">
									<div class="recomm-bg"><img src="/html/user_data/assets/img/icon_recow01.png"></div><!--{*<button class="favorite"><i
											class="fa-sharp fa-solid fa-heart"></i></button>*}--><img class="b-pic" src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/480741.jpg">
									<div class="c-pic"><img src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/480741.jpg"></div>
									<div class="price">
										<p>寄付金額<span>14,000</span>円</p>
									</div>
								</div>
								<p class="product_name">14-66 【中国禁輸措置生産地支援品】オホーツク産ホタテ玉冷大(1kg)</p>
							</a></li>
						<li class="reclist"><a href="https://mombetsu-stv.furusato-direct.jp/products/detail/1067">
								<div class="mask">
									<div class="recomm-bg"><img src="/html/user_data/assets/img/icon_recow01.png"></div><!--{*<button class="favorite"><i
											class="fa-sharp fa-solid fa-heart"></i></button>*}--><img class="b-pic" src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/1000330.jpg">
									<div class="c-pic"><img src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/1000330.jpg"></div>
									<div class="price">
										<p>寄付金額<span>13,000</span>円</p>
									</div>
								</div>
								<p class="product_name">13-138 ボイルずわいがに姿切り1kg</p>
							</a></li>
						<li class="reclist"><a href="https://mombetsu-stv.furusato-direct.jp/products/detail/904">
								<div class="mask">
									<div class="recomm-bg"><img src="/html/user_data/assets/img/icon_recow01.png"></div><!--{*<button class="favorite"><i
											class="fa-sharp fa-solid fa-heart"></i></button>*}--><img class="b-pic" src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/2043549.jpg">
									<div class="c-pic"><img src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/2043549.jpg"></div>
									<div class="price">
										<p>寄付金額<span>16,000</span>円</p>
									</div>
								</div>
								<p class="product_name">16-71 お刺身用 本ズワイガニしゃぶしゃぶセット500g</p>
							</a></li>
						<li class="reclist"><a href="https://mombetsu-stv.furusato-direct.jp/products/detail/807">
								<div class="mask">
									<div class="recomm-bg"><img src="/html/user_data/assets/img/icon_recow01.png"></div><!--{*<button class="favorite"><i
											class="fa-sharp fa-solid fa-heart"></i></button>*}--><img class="b-pic" src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/805204.jpg">
									<div class="c-pic"><img src="//d2xf9yvm8p5xm3.cloudfront.net/images/012190/805204.jpg"></div>
									<div class="price">
										<p>寄付金額<span>15,000</span>円</p>
									</div>
								</div>
								<p class="product_name">15-208 よつ葉パンにおいしい発酵バター（100ｇ）×10個</p>
							</a></li>


					</ul>

				</section>

			</div>
